<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Assignment1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StartShopServlet</display-name>
    <servlet-name>StartShopServlet</servlet-name>
    <servlet-class>comp9321.ass1.StartShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartShopServlet</servlet-name>
    <url-pattern>/StartShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>comp9321.ass1.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlbumShoppingCartServlet</display-name>
    <servlet-name>AlbumShoppingCartServlet</servlet-name>
    <servlet-class>comp9321.ass1.AlbumShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumShoppingCartServlet</servlet-name>
    <url-pattern>/AlbumShoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlbumDetailServlet</display-name>
    <servlet-name>AlbumDetailServlet</servlet-name>
    <servlet-class>comp9321.ass1.AlbumDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumDetailServlet</servlet-name>
    <url-pattern>/AlbumDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SongDetailServlet</display-name>
    <servlet-name>SongDetailServlet</servlet-name>
    <servlet-class>comp9321.ass1.SongDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SongDetailServlet</servlet-name>
    <url-pattern>/SongDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SongShoppingCartServlet</display-name>
    <servlet-name>SongShoppingCartServlet</servlet-name>
    <servlet-class>comp9321.ass1.SongShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SongShoppingCartServlet</servlet-name>
    <url-pattern>/SongShoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlbumSearchServlet</display-name>
    <servlet-name>AlbumSearchServlet</servlet-name>
    <servlet-class>comp9321.ass1.AlbumSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumSearchServlet</servlet-name>
    <url-pattern>/AlbumSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SongSearchServlet</display-name>
    <servlet-name>SongSearchServlet</servlet-name>
    <servlet-class>comp9321.ass1.SongSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SongSearchServlet</servlet-name>
    <url-pattern>/SongSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveAlbumServlet</display-name>
    <servlet-name>RemoveAlbumServlet</servlet-name>
    <servlet-class>comp9321.ass1.RemoveAlbumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveAlbumServlet</servlet-name>
    <url-pattern>/RemoveAlbumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveSongServlet</display-name>
    <servlet-name>RemoveSongServlet</servlet-name>
    <servlet-class>comp9321.ass1.RemoveSongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveSongServlet</servlet-name>
    <url-pattern>/RemoveSongServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutServlet</display-name>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>comp9321.ass1.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
</web-app>